@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<script>

    function pesquisarContato() 
    {
        var nome = $("input[name=pesquisarContato]").val();
        var url="http://localhost:7621/Contato/PesquisarContato?name=" + nome;
        $.ajax({
    url: url,
    type: 'GET',
    success: function(res) {

        var html = 'contatos encontrados: ';

        res.forEach(function(item){

            html += 'nome:' + item.nome + ' celular: ' + item.celular + '<br />';

        })
        document.getElementById("resultadoBusca").innerHTML = html;
    }
});
    }

</script>

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Contato" asp-action="Criar" role="button">Adicionar novo contato</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
            </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
            </div>
    }

    <br />

    <h1 class="display-4">Listagem de contatos</h1>

    <div class="row">
    <div class="col-md-4">
        <label>Buscar Contato</label>
        <div class="d-flex">
            <input type="text" name="pesquisarContato" placeholder="Digite o nome do contato" class="form-control" />
            <button class="btn btn-success ml-2" onclick="pesquisarContato()">
                Pesquisar
            </button>
        </div>
    </div>
</div>

    <div id="resultadoBusca">
        
    </div>

    <br />

    <table class="table" id="table-contatos">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var contato in Model)
                {
                            <tr>
                                <td>@contato.Nome</td>
                                <td>@contato.Email</td>
                                <td>@contato.Celular</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a role="button" asp-action="Editar" asp-controller="Contato" asp-route-id="@contato.Id" class="btn btn-primary">Editar</a>
                                        <a role="button" asp-action="ApagarConfirmacao" asp-controller="Contato" asp-route-id="@contato.Id" class="btn btn-danger">Apagar</a>
                                    </div>
                                </td>
                            </tr>
                }
            }
            else
            {
                    <tr class="odd"><td valign="top" colspan="5">Nenhum contato encontrado</td></tr>
            }

        </tbody>
    </table>
</div>

